---
---

@import "minima";

/* Custom Grid Styles */
.grid-container {
    display: grid;
    grid:
    'grid-item grid-item'
    'grid-item grid-item';
    grid-auto-columns: calc(50% - 10px);
    grid-auto-flow: column;
    grid-gap: 10px 10px;
}

.grid-item,
.grid-item img,
.grid-item h3 {
    text-align: center;
}