---
---

@import "minima";

/* Custom Grid Styles */
.grid-container {
    display: block;
}

.grid-item,
.grid-item img,
.grid-item h3 {
    text-align: center;
}

.grid-item {
    width: calc(50% - 10px);
    float: left;
    margin-right: 10px;
}